üìå Mathematical, Conditional, and Bitwise Expressions in Python

1Ô∏è‚É£ Mathematical Expressions

Python supports basic arithmetic operations:

In [15]:
print(7,5,3,4,6,"salam","good bye","kjfldfsj",sep='*',end=" ")
print(65665656)

7*5*3*4*6*salam*good bye*kjfldfsj 65665656

In [8]:
type(10 // 5 )

int

In [ ]:
True
False

In [25]:
# Addition, Subtraction, Multiplication, Division
'''
ÿß€åŸÜ ÿ®ÿÆÿ¥ ÿ™Ÿàÿ∂€åÿ≠ÿßÿ™ ÿß€åŸÜ ÿ≥ŸÑŸàŸÑ ÿßÿ≥ÿ™
'''
a = 10
b = 3

print(a + b)   # Addition ‚Üí 13
print(a - b)   # Subtraction ‚Üí 7
print(a * b)   # Multiplication ‚Üí 30
print(a / b)   # Division ‚Üí 3.3333
print(a // b)  # Floor Division ‚Üí 3
print(a % b)   # Modulus ‚Üí 1
print(a ** b)  # Exponentiation (10^3) ‚Üí 1000

13
7
30
3.3333333333333335
3
1
1000

In [10]:
print(9 ** 0.5)

3.0

In [17]:
6/(6/8+(6+9))**8

1.584553056052528e-09

In [18]:
R=6
result=34+67-R/(6/8+(6+9))**8

In [19]:
result

100.99999999841545

In [ ]:
int q=78;ŸÇÿØÿ∫ŸÜ ÿØÿ± ÿ≥ÿß€åÿ± ÿ≤ÿ®ÿßŸÜŸáÿß

In [ ]:
q="ali"

In [21]:
q=12

In [22]:
q=15.9

In [23]:
q="ali"

In [ ]:
if 2>9:
    print()
    
else:
    print("*")

In [36]:
w=13

In [39]:
if w==1 :
    if w<7:
        print("hello")
elif w>8:
    print("ÿ®ÿ≤ÿ±⁄Øÿ™ÿ± ÿßÿ≤ 8")
elif w<99:
    print("⁄©Ÿà⁄Ü⁄©ÿ™ÿ± ÿßÿ≤ 99")
else:
    print("Ÿá€å⁄Ü ⁄©ÿØÿßŸÖ")

ÿ®ÿ≤ÿ±⁄Øÿ™ÿ± ÿßÿ≤ 8
⁄©Ÿà⁄Ü⁄©ÿ™ÿ± ÿßÿ≤ 99

2Ô∏è‚É£ Conditional Expressions

Conditional expressions help in decision-making using if, elif, and else:

In [30]:
x = 15 

if x > 10:
    print("x is greater than 10")
elif x == 10:
    print("x is exactly 10")
else:
    print("x is less than 10")

IndentationError: expected an indented block after 'if' statement on line 3 (1995283617.py, line 4)

üîπ Logical Operators (and, or, not)

In [4]:
a = True
b = False

print(a and b)  # False ‚Üí both must be True
print(a or b)   # True ‚Üí at least one True
print(not a)    # False ‚Üí reverses True to False

False
True
False

3Ô∏è‚É£ Bitwise Operators.

These operators work at the binary level:

In [5]:
x = 5  # 0b0101
y = 3  # 0b0011

print(x & y)  # AND ‚Üí 0b0001 ‚Üí 1
print(x | y)  # OR  ‚Üí 0b0111 ‚Üí 7
print(x ^ y)  # XOR ‚Üí 0b0110 ‚Üí 6
print(~x)     # NOT ‚Üí -(x+1) ‚Üí -6
print(x << 1) # Left Shift  ‚Üí 0b1010 ‚Üí 10
print(x >> 1) # Right Shift ‚Üí 0b0010 ‚Üí 2

1
7
6
-6
10
2

‚úÖ Explanation:

& (AND): 1 if both bits are 1

| (OR): 1 if at least one bit is 1

^ (XOR): 1 if only one bit is 1

~ (NOT): Inverts bits (2‚Äôs complement)

<< (Left Shift): Shifts bits left (multiplies by 2)

>> (Right Shift): Shifts bits right (divides by 2)

üìå Summary:

‚úÖ Arithmetic: + - * / // % **
‚úÖ Conditional: if, elif, ee
‚úÖ Logical: and, orot
‚úÖ Bitwise: & | ^ <

< >>

# Numbers and more in Python!
In this lesson we will learn more about numbers in Python and how to use them.
We will cover the following topics:
1. types of numbers
2. basic arithmetic
3. difference between Python 2 and 3 in division
4. object assignment in Python

## Types of numbers
Python contains different types of numbers. We will mainly deal with `integers` and `floats`. Later we will take a short detour to complex numbers.

Integers are simply integers, positive and negative. For example: 2 and -2 are integers.

Floats are decimal numbers and are special in Python because they include a decimal point or an exponent (e) to define the number. For example, 2.0 and -2.1 are numbers with a decimal point. 4E2 (4 times 10 to the power of 2) is also an example of a float number in Python.

Throughout this course, we will be working with `integers` and `floats` in particular.
Now let's start with simple mathematics.
## Basic arithmetic

In [2]:
# Addition
2+1

3

In [1]:
# Subtraktion
2-1

# +
# -
# *
# /
# //
# %
# **

1

In [4]:
# Multiplication
2*2

4

In [5]:
# Division
3/2

1.5

In [6]:
4 // 3

1

In [7]:
9 % 3

0

In [4]:
# int   78
# str  "alis" 'alis'
# float 4.5  

varSamp=78
type(varSamp)

int

In [8]:
# "wolf" >>>> int 
# "453" >>>> int

a=12
str(a)

'12'

In [18]:
# q=input("ÿßÿ≥ŸÖ :")
name="ali"
family="mohammadi"
full_name=name+" "+family
print(full_name,end="+")
print(name)
print("salam")

ali mohammadi+ali
salam

In [28]:
# s='she said "hello"'
s="she said \"hello"\"

SyntaxError: unexpected character after line continuation character (3772919065.py, line 2)

In [32]:
# =

# ==
# >=
# <=
# <
# >
# !=
a=45
b=67
a <= b

# boolean=False , True

True

In [26]:
23 > 7

True

In [27]:
45<3

False

In [28]:
23==23

True

In [29]:
23!=6

True

### Python 2 Difference!

If we were to perform division 3/2 in Python 2, we would get the result 1. The reason why we would get this result is that Python 2 calculates division differently than Python 3. In Python 2, the / symbol creates a division in the "classical" sense. That is, the decimal points are truncated. In Python 3, however, the / symbol produces a "true" division. So the result is 1.5.

How can we get around this in Python 2?
There are 2 solutions to this:

a) Define one of the numbers as a float

In [8]:
# Specify a number as float
3.0/2

1.5

In [9]:
# Works with both numbers
3/2.0

1.5

b)  We could also convert one of the numbers from an integer to a float using a function. This function is called, unsurprisingly, "float()".

In [10]:
# We can use float() to change integers
float(3)/2

1.5

We will go into much more detail about functions later in the course, so don't worry if this syntax seems unfamiliar at first. You can consider this a small preview.

Another "preview" we can use to work with classical division in Python 2 is to import the so-called <b>future</b> module.

This is a module in Python 2 that contains Python 3 functions. Thus, it allows us to use Python 3 functions in Python 2. We will also go into more detail about imports and modules later in the course, so don't worry if you don't quite understand the import statement yet.

In [11]:
3/2

1.5

In [12]:
from __future__ import division
3/2

1.5

In [13]:
FullName="Jojhn said \"hello\" "
type(FullName)
print(FullName)

Jojhn said "hello"

If we import `division` from the <b>future</b> module, then classical division will no longer be a problem anywhere in the Python 2 code.

## Other arithmetic

In [14]:
# Powers
2**1
# + - * / // %

2

In [15]:
4 ** 0.5

2.0

In [16]:
import math

In [17]:
math.pow(2,6)

64.0

In [18]:
math.sqrt(2)

1.4142135623730951

In [19]:
pow(2,6)

64

In [20]:
math.sqrt(2)

1.4142135623730951

In [21]:
# This is also how the root is drawn
2**0.5

1.4142135623730951

Python follows common rules of mathematics. These include the operator order (point-before-knit calculation), as well as associative and commutative laws. This is important for calculating more complicated expressions, e.g. using parentheses.

In [35]:
# The order of operations is followed in Python
2 + 10 * (10 + 3)

132

In [23]:
# Brackets can be used to specify the sequence
(2+10)*(10+3)

156

## Variables assignment

Now that we have seen how numbers are basically calculated in Python, we can look at how to assign names and create variables.

Unlike most other programming languages, we don't have to tell Python what data type a variable belongs to first. Python can tell by the notation we use when we define it. We will learn more and more about this as we learn more data types.

### Other languages

For example, to define a variable with a numerical value in C, we must first specify what data type our variable should have.

    int x;

Thus the programming language (in this case C) knows that we want to use the data type integer for the variable. The "problem" with this is that it can now really only carry numbers as values. Then, in a second step, we can define the actual value.

    x = 42;

### Python

In Python, we use a single = character to assign variables to their names. Let's look at a few examples. Python automatically detects the data type.

In [24]:
# We create an object named "a" and assign it the number 5
a = 5

Now when I call a in my Python script, it will treat Python as 5.

In [25]:
# The objects add up
a+a

10

What happens on reassignment? Will Python let us overwrite the variable?

In [26]:
# Reassignment
a = 10

In [27]:
a

10

Yes! Python lets us overwrite variable names that have already been assigned. We can also use the variables themselves to perform a reassignment. Here is an example of what I mean:

In [28]:
# Check
a

10

In [29]:
# We use a to reassign a
a = a + a

In [30]:
# Check
a

20

In Python, the names we use to create these labels must follow some rules:

1. names must not start with a number
2. there must be no spaces in the name, use _ instead
3. the following characters must not be included: '",<>/?|\()!@#$%^&*~-+
4. it is usual to write names in lower case

Using variable names can be a useful tool to keep track of different variables in Python. For example:

In [31]:
# Here the names are used to keep track!
einkommen = 100

steuersatz = 0.1

steuern = einkommen * steuersatz

In [32]:
# Show my taxes
steuern

10.0

In [33]:
type(steuern)

float

So what did we learn? We learned basic facts about numbers in Python. In addition, we learned how to apply arithmetic in Python and perform simple calculations. This lesson was completed by learning about assigning variables.

In the next chapter we will deal with: Strings.