# Sets and Booleans

There are two other object types in Python that we should look at: `sets` and `booleans`.

## Sets

Sets are unordered collections of unique elements. We can create them by using the `set()` function. Let's go ahead and create a set to understand how it works:

In [1]:
x = set()

In [1]:
a={}
type(a)

dict

In [2]:
# We add elements to sets using the add() function
x.add(2)

In [3]:
# Check
x

{2}

Notice the curly brackets? However, this **does not** mean that we have a dictionary here! Nevertheless, parallels can be drawn and a set can be understood as a dictionary containing only keys.

We already know that `sets` contain unique elements. What happens then if we want to add something that is already included?

In [5]:
# Add a new element
x.add(2.0000001)

In [6]:
# Check
x

{2, 2.0000001}

In [ ]:
# Add an already contained element
x.add(42)

In [9]:
# Check
x

{2, 42}

We see: no other 1 has been inserted. This is exactly because sets contain only unique elements. We can pass a list of different repeating elements to a set and get the unique elements. For example:

In [7]:
# Create list of repeating elements
l = [1,2,1,1,3,5,3,4,6,2]

In [11]:
l

[1, 2, 1, 1, 3, 5, 3, 4, 6, 2]

In [16]:
# Pass the list to a set
q=set([1, 2, 1, 1, 3, 5, 3, 4, 6, 2])

In [18]:
q

{1, 2, 3, 4, 5, 6}

In [23]:
A = {1,2,3}
A

{1, 2, 3}

In [24]:
B = {3,4,5}
B

{3, 4, 5}

In [28]:
C ={1,2}

### Subset
$A\subseteq B$

In [26]:
A.issubset(B)

False

In [27]:
A.issubset(C)

False

In [29]:
C.issubset(A)

True

In [30]:
{1,2}.issubset({1,2,3})

True

In [31]:
{1,2} <= {1,2,3,4}

True

In [32]:
{1,2,3,4} >= {1,2}

True

In [35]:
A >= A

True

### Union

$A\bigcup B$

In [36]:
{1,2,3}.union({3,4,5})

{1, 2, 3, 4, 5}

In [37]:
{1,2,3} | {3,4,5}  #\

{1, 2, 3, 4, 5}

In [40]:
A = {1,2,3}
B = {3,4,5}
A = A | B
A

{1, 2, 3, 4, 5}

In [38]:
#in place Union
A = {1,2,3}
B = {3,4,5}

A |= B
A

{1, 2, 3, 4, 5}

### Intersect
$A\bigcap B$

In [43]:
A = {1,2,3}
B = {3,4,5}
A.intersection(B)

{3}

In [44]:
{1,2,3} & {3,4,5}

{3}

In [47]:
A = {1,2,3}
B = {3,4,5}

A = A & B
A

{3}

In [19]:
A = {1,2,3,4}
B = {3,4,5}

A &= B
A

{3, 4}

### Difference
$A \setminus B$

In [49]:
{1,2,3}.difference({3,4,5})

{1, 2}

In [50]:
{1,2,3} - {3,4,5}

{1, 2}

In [51]:
A = {1,2,3}
B = {3,4,5}

A -= B
A

{1, 2}

In [20]:
a={3,3,4,5,5,6,6,6,6}

In [21]:
len(a)

4

In [52]:
len(A)

2

* * *

## Booleans

Python has booleans. These are truth values that can take either True or False. It also has a placeholder object called `None`. Let's look at some quick examples (before we delve into the topic in a later lesson):

In [ ]:
# Make an object a Boolean
a = True

In [ ]:
# Check
a

We can use None as a placeholder if we do not want to assign a special truth value to an object yet:

In [ ]:
# None Placeholder
b = None

That's it! You should now have a basic understanding of objects and data structures in Python. Next, you can look at the assessment task!